.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  width: 25rem;
  flex: 0 0 auto;
  margin-right: 10px;
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-link {
  color: red;
}
// .card-category-show {
//   background-size: cover;
//   background-position: center;
//   height: 200px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: black;
//   font-size: 18px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

a {
  color: white;
  text-decoration: none;

  &:hover {
    color:rgb(250, 224, 224);
  }
}
